<!DOCTYPE html>
<html>
    <head>
        
        <link rel="Stylesheet" href="static/Stylesheet.css">
        <title>Toka Fitness</title>
        <h1>Toka Fitness HomePage</h1>
    </head>
    <div class="FreeAccountForm" > 
        <form action="/login"><!--Free Account Form-->
            <h2>Free Account Form</h2>
            <label for="Fname">First Name:</label><br>
            <input type="text" id="Fname" name="Fname"><br>
            <label for="Lname">Last name:</label><br>
            <input type="text" id="Lname" name="Lname"><br>
            <label for="Gender">Gender:</label><br>
            <select options="GenderOptions" id="GenderOptions"><br>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select><br>
            <label for="Email">Email:</label><br>
            <input type="email" id="Email" name="Email"><br>
            <label for="Password">Password:</label><br>
            <input type="password" id="Password" name="Password"><br>
            <input type="submit" value="Create Free Account">
        </form>
    </div>
    <div class="PremiumAccountForm"> 
        <form action="/login"><!--Premium Account Form-->
            <h2>Premium Account Form</h2>
            <label for="Fname">First Name:</label><br>
            <input type="text" id="Fname" name="Fname"><br>
            <label for="Lname">Last name:</label><br>
            <input type="text" id="Lname" name="Lname"><br>
            <label for="Gender">Gender:</label><br>
            <select options="GenderOptions" id="GenderOptions"><br>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select><br>
            <label for="Email">Email:</label><br>
            <input type="email" id="Email" name="Email"><br>
            <label for="Password">Password:</label><br>
            <input type="password" id="Password" name="Password"><br>
            <input type="submit" value="Create Premium Account">
        </form>
    </div>
</html>