<!DOCTYPE html>
<html>
    <head>
        <link rel="Stylesheet" href="static/Stylesheet.css">
        <title>Login Page</title>

    </head>

    <!--Finds element by their id being (myPassword)
    if the field type is reconised as password then hide it
    else show case it-->
    
    <div class="login_form"> 
        <form method="POST" action = "/login">
            <h1>Login Below</h1>
            <label for="Email">Email:</label><br>
            <input type="email" id="Email" name="Email"><br>
            <label for="Password">Password:</label><br>
            <input type="password" id="Password" name="Password"><br>
            <input type="submit" id="log_button" value="submit">


        </form>

    </div>
</html>